body{
    border: #e04646 solid 5px;
}
h1, h2{
    border: #28a82b solid 5px;
}
p{
    border: #dacc38 solid 5px;
}
img{
    border: #f57795 solid 5px;
    width: 100px;
}
ul{
    border: #2ca5cb solid 5px;
}
li{
    border: #151fd5 solid 5px;
    margin-top: 10px;
}